html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;
  overflow-y: hidden;
 }

.wrapper {
  height: 100%;
  overflow: hidden;
}


.button {
    border-radius: 5px;
    background-color: #CCCCCC;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
  font-family: omnium-tagline, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 35px;
  padding-top: 10px;
  margin: 0;
}

.button:hover {
    color: white;
}


.filterButton {
  font-family: omnium-tagline, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  height: 30px;
  width: 80px;
  border: none;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  color: white;
  background-color: #9753d7;
  border-radius: 10px;
  display:none;
}

.opencam {
    background-color: #9753d7;
    color: white;
    font-family: omnium-tagline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.closecam {
    background-color: red;
    display:none;
}

.snap {
  background-color: grey;
  color: white;
  border: white 2px solid;
  font-size: 31px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    display: none;
}

a.button.snap {
  padding-top: 15px;
  margin-top: 30px;
}


.machine {
    margin-bottom: 30px;
    height: 50px;
    overflow: hidden;
    background-color: #CCCCCC;
    display: inline-block;
}



video, canvas {
    width: 94vw;
    height: 40vh;
    border: none;
}

video {
  margin-top: 25px;
}

canvas {
  margin-top: -45vh;
  margin-bottom: 2vh;
}

.slot-machine__tile--no-transition {
    transition: none !important;
  }
  
  .slot-machine__tile--blur-fast {
    filter: blur(5px);
  }
  
  .slot-machine__tile--blur-medium {
    filter: blur(3px);
  }
  
  .slot-machine__tile--blur-slow {
    filter: blur(2px);
  }
  
  .slot-machine__tile--blur-turtle {
    filter: blur(1px);
  }
  
  .slot-machine__container--gradient, .slot-machine__tile--gradient {
    -webkit-gradient:
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0)),
      color-stop(25%, rgba(0, 0, 0, 1)),
      color-stop(75%, rgba(0, 0, 0, 1)),
      color-stop(100%, rgba(0, 0, 0, 0));
    mask: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http:// www.w3.org/2000/svg" width="0" height="0"><mask id="slotMachineFadeMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox"><linearGradient id="slotMachineFadeGradient" gradientUnits="objectBoundingBox" x="0" y="0"><stop stop-color="white" stop-opacity="0" offset="0"></stop><stop stop-color="white" stop-opacity="1" offset="0.25"></stop><stop stop-color="white" stop-opacity="1" offset="0.75"></stop><stop stop-color="white" stop-opacity="0" offset="1"></stop></linearGradient><rect x="0" y="-1" width="1" height="1" transform="rotate(90)" fill="url(#slotMachineFadeMask)"></rect></mask></svg>#slotMachineFadeMask');
  }

  #randomize {
    background-color: #a86de0;
    height: 100vh;
    width: 100%;
  }

  .gameWindow {
    border:#9753d7 10px solid;
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
  }
  
  .parent {
    position: absolute;
    z-index: +2;
    bottom: 30vh;
    left: 45vw;
  }
  
  .parentone button {
    position: fixed;
    background-color: #9753d7;
    color: white;
    border: 2px white solid;
    padding: 5px;
    font-size: 31px;
    height: 60px;
    width: 60px;
    box-shadow: 0 4px 8px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }
  
  .parenttwo button {
    background-color: #9753d7;
    color: white;
    border: white 2px solid;
    padding: 5px;
    font-size: 31px;
    height: 60px;
    width: 60px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .cameraButtons {
    padding-top: 20px;
  }

  .parent button:active {
    background-color: #9753d7;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

  .parentthree button {
    background-color: grey;
    color: white;
    border: white 2px solid;
    padding: 5px;
    font-size: 31px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }
  
  
  
  .parenttwo button.round5 {
    background-color: red;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 60px;
    width: 60px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .parentwo button.round5:active {
    background-color: red;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

  img.cam {
    padding-top: 15px;
  }


  
  .parent button:not(:first-child) {
    margin-top: 10px;
  }
  
  .round-1 {
    border-radius: 5%;
  }
  
  .round-2 {
    border-radius: 10%;
  }
  
  .round-3 {
    border-radius: 20%;
  }
  
  .round-4 {
    border-radius: 30%;
  }
  
  .round-5 {
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 40px;
  }
  
  .round-6 {
    position: fixed;
    bottom: 20px;
    right: 40px;
    border-radius: 70%;
  }

  ul {
    padding: 0;
  }

  h1 {
    font-family: omnium-tagline, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 2em;
    padding: 40px;
  }

  